<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.yokey.nsg">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".activity.home.NcApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="男士购"
        android:theme="@style/Theme.Main">

        <!-- 高德地图 配置开始 -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2ac6c1b429b9e5692ca5ddd07f16c4ba" />

        <!-- 高德地图 配置结束 -->

        <!-- QQ登陆 配置开始 -->

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101260555" />
            </intent-filter>
        </activity>

        <!-- QQ登陆 配置结束 -->

        <!-- ShareSDK 配置开始 -->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent101260555" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- ShareSDK 配置结束 -->

        <!-- 友盟统计 配置开始 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5705c79c67e58e638e001596" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <!-- 友盟统计 配置结束 -->

        <!-- 支付宝支付SDK 配置开始 -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 支付宝支付SDK 配置结束 -->

        <activity
            android:name=".activity.home.LoadActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.home.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.HomeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.CategoryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.CartActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.MineActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.BrowserActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.LoginWebActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.RegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.MineCenterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.CollectionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.ScanActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.goods.GoodsDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.PhotoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.OrderActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.BuySetup1Activity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.BuySetup2Activity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.OrderDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.store.StoreActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.store.StoreListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.SettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.AddressActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.AddressAddActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.AddressMapActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.AddressEditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.OrderEvaluateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.PropertyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.PreDepositActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.RechargeCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.SearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.goods.GoodsListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.ShareActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.ChatListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.ChatOnlyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.store.StoreInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.CropActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.store.StoreVoucherActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.MineEditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.BindEmailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.BindMobileActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.MinePassActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.MinePayPassActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.FeedbackActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.VouchersActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.PointsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.NotifyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.SpecialActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.OrderRefundActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.goods.GoodsEvaluateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.RegisterPhoneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.InvoiceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.InvoiceAddActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.store.StoreGoodsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.CartMyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleApplyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleThemeCreateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleThemeDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleCreateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleThemeReplyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.circle.CircleThemeReplyReportActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.SignActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerEditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerOrderActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerOrderDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerOrderCancelActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerOrderModifyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerOrderDeliverActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerGoodsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.RedPacketActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.OrderRefundAllActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.RefundReturnActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.RefundDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.mine.PreDepositCashActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.ReturnDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerRefundActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerRefundDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerRefundHandlerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerReturnActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerReturnDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.seller.SellerReturnHandlerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.man.ManActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.home.CheckActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.order.OrderVrActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.man.ManDetailedActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>

</manifest>